# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Testing / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Linters / type checkers
.mypy_cache/
.ruff_cache/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Editor
.vscode/



